<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}"/>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${about_h1}"></h1>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>