<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title" th:text="${entry.username}"></div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title" th:if="${errors != null}">
                            <div class="panel-body errors" th:text="${errors}"></div>
                        </div>
                        <form th:action="@{editUser}" th:object="${entry}" method="post">
                            <input type="hidden" th:field="*{username}"/>
                            <input type="hidden" th:field="*{password}"/>
                            <input type="hidden" th:field="*{authorities}"/>
                            <div class="form-group">
                                <label >Enabled</label>
                                <input type="checkbox" th:field="*{enabled}"/>
                            </div>
                            <div class="form-group">
                                <label >Locked</label>
                                <input type="checkbox" th:field="*{locked}"/>
                            </div>
                           <!-- <div class="form-group">
                                <th:block th:each="authority : ${entry.authorities}">
                                    <input type="checkbox" th:field="*{authorities}" th:value="${authority}"/>
                                    <label th:text="${authority}"></label>
                                </th:block>
                            </div>-->
                            <input type="submit" name="submit" value="Edit Account"/>
                        </form>
                    </div>
                    <a th:href="@{usersAccounts}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>