<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title" th:text="'Edit ' + ${profile.username} + ' profile description'"></div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title" th:if="${errors != null}">
                            <div class="panel-body errors" th:text="${errors}"></div>
                        </div>
                        <form th:action="@{editProfile}" th:object="${profile}" method="post">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <textarea name="text" rows="10" cols="50" th:field="*{description}"></textarea>
                            </div>
                            <input type="submit" name="submit" value="Edit Profile"/>
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="/">Go back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>