<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title">Edit Status Update Object</div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title" th:if="${errors != null}">
                            <div class="panel-body errors" th:text="${errors}"></div>
                        </div>
                        <form th:action="@{editStatus}" th:object="${entry}" method="post">
                            <div class="form-group">
                                <textarea name="text" rows="10" cols="50" th:field="*{text}"></textarea>
                            </div>
                            <input type="submit" name="submit" value="Edit Status"/>
                        </form>
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <div class="panel-title" th:if="${entry != null}">
                                <span >Added on </span><div th:text="${{#dates.format(entry?.added, 'EEEE, dd MMM yyyy hh:mm:ss')}}"/>
                                <span >Modified on </span><div th:text="${{#dates.format(entry?.dateModified, 'EEEE, dd MMM yyyy hh:mm:ss')}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>