<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}"/>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <h1 th:text="'Hi ' + ${profile.user.username} + '!'"></h1>
        </div>
        <div class="panel-body">
            <div th:if="${profile.about == null}">No description</div>
            <div class="profile-description" th:if="${profile.about != null}" th:text="${profile.about}">About</div>
            <a th:href="@{/editProfile?profileId={id}(id = ${profile.id})}">Edit Profile</a>
        </div>
        <a href="/">Go back</a>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>