<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title">Add new account</div>
                    </div>
                    <div class="panel-default errors" th:if="${errorMsg != ''}" th:text="${errorMsg}"></div>
                    <div class="panel-body">
                        <form th:action="@{register}" method="post" th:object="${user}" class="site-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" th:field="*{username}"/>
                                </div>
                                <div class="input-group">
                                    <input type="password" th:field="*{password}"/>
                                </div>
                                <div class="input-group" sec:authorize="isAuthenticated()">
                                    <span><label>Admin account: </label><input type="checkbox" th:field="*{admin}"/></span>
                                </div>
                            </div>
                            <div>
                                <input type="submit" name="submit" value="Register" class="btn-primary pull-right"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>