<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title">Add new account</div>
                    </div>
                    <div class="panel-default errors" th:if="${errorMsg != ''}" th:text="${errorMsg}"></div>
                    <div class="panel-default" th:if="${resetMessage != ''}" th:text="${resetMessage}"></div>
                    <div class="panel-body">
                        <form th:action="@{resetPasswordRequest}" method="post" class="site-form">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="username"/>
                                </div>
                            </div>
                            <div>
                                <input type="submit" name="submit" value="Reset Password" class="btn-primary pull-right"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>