<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<span th:text="'Hi ' + ${name} + '!'">Hi there!</span>
<p>You requested password reset. If not, please neglect this email.</p>
<p>Please click <a th:href="${rootUrl} + '' + @{resetPassword?token={token}(token=${token})}">here</a> to reset you password</p>
</body>
</html>