<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title" >Change password</div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-title" th:if="${errors != null}">
                            <div class="panel-body errors" th:text="${errors}"></div>
                        </div>
                        <form th:action="@{resetPassword}" th:object="${entry}" method="post">
                            <input type="hidden" th:field="*{username}" minlength="8"/>
                            <input type="hidden" th:field="*{enabled}" minlength="8"/>
                            <input type="hidden" th:field="*{locked}" minlength="8"/>
                            <input type="hidden" th:field="*{authorities}" minlength="8"/>
                            <div class="form-group">
                                <label >Password</label>
                                <input type="password" th:field="*{password}"/>
                            </div>
                            <div class="form-group">
                                <label >Repeat Password</label>
                                <input type="password" th:field="*{repeatPassword}"/>
                            </div>
                            <input type="submit" name="submit" value="Change password"/>
                        </form>
                    </div>
                    <a th:href="@{usersAccounts}">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>