<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<div th:insert="~{fragments/site-fragms::navbar}"/>
<div align="center">
    <h1 th:text="${status_h1}">Adding status</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-header">
                        <div class="panel-title">Results</div>
                    </div>
                    <div class="panel-body">
                        <div class="panel-default" th:insert="~{fragments/site-fragms::displayPageResults(${results})}"></div>
                    </div>
                    <div class="pagination" th:insert="~{fragments/site-fragms::pagination-page-bar(${results})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/site-fragms::footer}"/>
</body>
</html>