<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/site-fragms::header}">
</head>
<body>
<span th:text="'Hi ' + ${name} + '!'">Hi there!</span>
<p>Thanks for registering to our page</p>
<p>Please click <a th:href="${rootUrl} + '' + @{confirmEmail?token={token}(token=${token})}">here</a> to verify your email</p>
</body>
</html>