<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${page_title}"></title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
</head>
<div th:fragment="navbar">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Spring Boot Tutorial</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="admin">Admin Page</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="addStatus">Add Status</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="viewStatus">View Status</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="registerAdmin">Add account</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="register">Register</a></li>
                    <li sec:authorize="!isAuthenticated()"><a href="resetPasswordRequest">Reset Password</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="usersAccounts">View User Accounts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                </ul>
            </div><!--/.nav-collapse -->
            <div class="navbar-nav">
                <ul>
                    <li sec:authorize="!isAuthenticated()"><a href="login">Log in</a></li>
                    <li sec:authorize="isAuthenticated()"><a href="profile">Profile</a></li></ul></br>
                    <form method="get" action="/logout" sec:authorize="isAuthenticated()">
                        <input type="submit" value="Logout">
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="pagination-page-bar(arg1)" th:with="total_pages=${arg1.totalPages},current_page=${arg1.number}">
    <div class="pagination">
        <span th:each="pg: ${#numbers.sequence(1, total_pages)}">
            <a th:href="@{viewStatus?page={id}(id=${pg})}" th:text="${pg}" aria-disabled="${pg == current_page}"></a>
        </span>
    </div>
</div>

<div th:fragment="displayPageResults(results)">
    <table th:if="${results?.totalPages gt 0}">
        <tr>
            <th>Text</th>
            <th>Creation Date</th>
            <th>Modification Date</th>
            <th></th>
        </tr>
        <tr th:each="item : ${results.content}">
            <td th:text="${item.text}"></td>
            <td th:text="${#dates.format(item.added, 'dd/MM/yyyy H:mm:ss')}"></td>
            <td th:text="${#dates.format(item.dateModified, 'dd/MM/yyyy H:mm:ss')}"></td>
            <td><a th:href="@{editStatus?id={id}(id=${item.id})}" th:text="Edit"></a><br/><a th:href="@{deleteStatus?id={id}(id=${item.id})}" th:text="Delete"></a></td>
        </tr>
    </table>
</div>

<div th:fragment="displayUserResults(results)">
    <table th:if="${results?.totalPages gt 0}">
        <tr>
            <th>Username</th>
            <th>Authorities</th>
            <th>Modification Date</th>
            <th>Credentials Modification Date</th>
            <th>Enabled</th>
            <th>Locked</th>
            <th></th>
        </tr>
        <tr th:each="user : ${results.content}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.authorities}"></td>
            <td th:text="${#temporals.format(user?.lastModified, 'dd/MM/yyyy')}"></td>
            <td th:text="${#temporals.format(user?.credentialsModificationDate, 'dd/MM/yyyy')}"></td>
            <td th:text="${user.enabled}"></td>
            <td th:text="${user.locked}"></td>
            <td><a th:href="@{editUser?id={id}(id=${user.id})}" th:text="Edit"></a>
                <br/><a th:href="@{deleteUser?id={id}(id=${user.id})}" th:text="Delete"></a>
                <br/><a th:href="@{changePassword?id={id}(id=${user.id})}" >Change Password</a></td>
        </tr>
    </table>
</div>

<div th:fragment="footer">
    <div align="center">
        <h4>This was prepared for money</h4>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
    </div>
</div>
</html>