.navbar {
    background-color: orange;
    border-color: orange;
}

body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar > .container > div > .navbar-nav > li > a {
    background: none;
    color: white;
    font-weight: bold;
}

.navbar > .container > div > .navbar-nav > li > a: hover {
    background: none;
    color: yellow;
    font-weight: bold;
}

.navbar > .container > .navbar-header > a {
    background: none;
    color: white;
    font-weight: bold;
}

.navbar > .container > .navbar-header > a: hover {
    background: none;
    color: yellow;
    font-weight: bold;
}

textarea {
    width: 100%;
}

.panel-title {
    background: blue;
    color: white;
    font-weight: bold;
}

.errors {
    color: red;
    font-weight: bold;
}

.pagination {
   align: center;
}

.pagination > span {
    border: 1px solid blue;
    color: blue;
    text-align:center;
    padding: 5px;
    margin: 1px;
}

.pagination > span: hover {
    border: 1px solid grey;
    color: grey;
    text-align:center;
    padding: 5px;
    margin: 1px;
}

.homepage-status {
    text-align: center;
    margin-top: 30px;
    font-size: larger;
    font-weight: bold;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-form > div {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group > input {
width: 100%;
}

.profile-description {
    border: 1px solid grey;
}